<!DOCTYPE html>
<html lang="en" ng-app='global'>
<head>
    <meta charset="UTF-8">
    <title>包谷网</title>
    <style>
    .hd_l .ccc{
        color:#006697;
    }
    .hd_l  .ddd{
        color:#cc0000;
    }
    .vip_center .pic1{
        background:url(img/bg11.png);
    }
     .vip_center .pic2{
        background:url(img/bg10.png);
    }
    </style>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/mypurchase.css">
    <script src=js/angular.js></script>
    <script src=""></script>
    
    <script>
    var global=angular.module('global',[]);

    global.controller('head',function($scope,$http){
        //鼠标移入
        $scope.tored=function(){
            $scope.color=false;
        };
        //鼠标移出
        $scope.toccc=function(){
            $scope.color=true;
        };
        //鼠标点击让一个显示另一个隐藏
        $scope.myval=true;
        $scope.myval1=false;
        $scope.clc=function(){
            $scope.myval1=true;
            $scope.myval=false;
        }; 

        //点击显示隐藏
        $scope.cg=true;
        $scope.ck=function(){
            $scope.cg=!$scope.cg;
            $scope.bk=!$scope.bk;
        };

        $scope.show1=true;
        $scope.show2=true;
        //初始化显示的数据视图
        $http.get('res.txt').success(function(res){
            $scope.data = res.res_a;
            $scope.show1=true;
            $scope.show2=true;
        });
        //点击显示数据 交易中
        $scope.trade=function(){
            $http.get('res.txt').success(function(res){
                $scope.data = res.res_a;
                $scope.show1=true;
                $scope.show2=true;
            });
        };
        //待付款
        $scope.pay=function(){
            $http.get('res.txt').success(function(res){
                $scope.data = res.res_b;
                $scope.show1=true;
                $scope.show2=true;
            });
        };
        //待发货
        $scope.send=function(){
            $http.get('res.txt').success(function(res){
                $scope.data = res.res_c;
                $scope.show1=true;
                $scope.show2=true;
            });
        };
        //待收货
        $scope.recive=function(){
            $http.get('res.txt').success(function(res){
                $scope.data = res.res_d;
                
            });
            $scope.show1=false;
            $scope.show2=true;
        };
        //交易成功
        $scope.success=function(){
            $http.get('res.txt').success(function(res){
                $scope.data = res.res_e;
                $scope.show2=true;
            });
        };
        //交易关闭
       
        $scope.close=function(){
            $http.get('res.txt').success(function(res){
                $scope.data = res.res_f;
               
            });
            $scope.show1=false;
            $scope.show2=false;
        };
        //全部
        $scope.all=function(){
            $http.get('res.txt').success(function(res){
                $scope.data = res.res_g;
            });
        };
    });
    </script>
</head>
<body class="body" ng-controller='head'>
    <!--head-->
    <div class="head">
        <div class="hd_in clearfix w">
           <div class="fl hd_l" ng-hide="myval1">
               <span>您好“贾云飞”</span>
               <i></i>
               <a href="javascript:;" ng-mouseover='tored()' ng-mouseout="toccc()" ng-class='{true:"ccc",false:"ddd"}[color]' ng-click='clc()'>退出</a>
            </div>
            <div class="before_login" ng-hide="myval">
                <span>欢迎来到包谷网</span>
                <span class="login"><a href="javascript:;">登陆</a></span>
                <span><a href="javascript:;">注册</a></span>
            </div>
            <ul class="fr clearfix hd_r">
                <li><a href="javascript:;" >包谷首页</a></li>
                <li class="center pos_vip_par" ng-init='bbb=true' ng-mouseenter='bbb=false' ng-mouseleave='bbb=true'>
                    <a href="javascript:;">会员中心</a>
                    <b></b>
                    <div class="pos_vip" ng-hide='bbb'>
                        <a href="javascript:;">商铺管理</a>
                        <a href="javascript:;">发布供应</a>
                    </div>
                </li>
                <li class="center pos_shopcar_par" ng-init='ccc=true' ng-mouseenter='ccc=false' ng-mouseleave='ccc=true'>
                    <span></span>
                    <a href="javascript:;">进货单(0)</a>
                    <b></b>
                    <div class="pos_shopcar" ng-hide='ccc' >
                        <img src="img/shopcar.jpg" class="fl shopcar" alt="">
                        <i class="fl intrduce">您的购物车里还没有商品</i>
                    </div>
                </li>
                <li class="center pos_serve_par" ng-init='aaa=true' ng-mouseenter='aaa=false' ng-mouseleave='aaa=true'>
                    <span class="bg1"></span>
                    <a href="javascript:;">客服中心</a>
                    <b></b>
                    <div class="pos_serve" ng-hide='aaa'>
                        <a href="javascript:;">快速入口</a>
                        <a href="javascript:;">买家入口</a>
                        <a href="javascript:;">卖家入口</a>
                        <a href="javascript:;">咨询热线</a>
                    </div>
                </li>
                <li>客服热线:<strong>400-106-8585</strong></li>
            </ul>
        </div>
    </div>
   <!--nav-->
   <div class="nav">
        <div class="nav_in w clearfix">
            <div class="fl nav_l">
                <h3 class="fl logo">
                    <a href="javascript:;">包谷网</a>
                </h3>
                <span class="fr">我的包谷</span>
            </div>
            <div class="fl list clearfix">
                <a href="javascript:;">首页</a>
                <a href="javascript:;">我的销售</a>
                <a href="javascript:;">我的采购</a>
                <a href="javascript:;">物流服务</a>
                <a href="javascript:;">账户设置</a>
                <a href="javascript:;">消息+</a>
                <span class="move_box"></span>
            </div>
            <div class="fr sear">
                <input type="text" placeholder="山梨酸钾">
                <span class="search"></span>
            </div>
            
        </div>
   </div>
   <!--content-->
   <div class="con">
        <div class="con_in w clearfix">
            <div class="con_l fl">
                <div class="up clearfix">
                    <span class="fl vip"></span>
                    <h3 class="fl">会员中心</h3>
                </div>
                <div class="down">
                    <ul class="vip_center">
                        <li class="first">
                            <span></span>
                            <a href="javascript:;">供应产品</a>
                        </li>
                        <li>
                            <span></span>
                            <a href="javascript:;">商铺管理</a>
                        </li>
                        <li>
                            <span></span>
                            <a href="javascript:;">卖家交易管理</a>
                        </li>
                         <li>
                            <span ng-class='{true:"pic1",false:"pic2"}[bk]'></span>
                            <a href="javascript:;" ng-click='ck()'>买家交易管理</a>
                            <ul class="cont_in fl" ng-hide='cg'>
                                <li><a href="javascript:;">已买到商品</a></li>
                                <li><a href="javascript:;">进货单</a></li>
                                <li><a href="javascript:;">交易评价管理</a></li>
                                <li><a href="javascript:;">地址管理</a></li>
                                <li><a href="javascript:;">退款管理</a></li>
                            </ul>
                        </li>
                        </li>
                        <li>
                            <span class="pinpai"></span>
                            <a href="javascript:;">关注的品牌</a>
                        </li>
                        <li>
                            <span class="msg_cen"></span>
                            <a href="javascript:;">消息中心</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="con_r fr">
                <div class="chaxun clearfix">
                    <input type="text" placeholder="按商品名称/采购单号/供应商名称查询" class="fl" >
                    <div class="fl dianji">搜索</div>
                    <div class="fl tijiao">
                        提交时间 <input type="text" value="">
                        <i></i>
                    </div>
                </div>
                <div class="artical">
                    <ul class="jiaoyi clearfix">
                        <li ng-click='trade()'>
                            <span>交易中</span>
                            <span>10</span>
                        </li>
                        <li ng-click='pay()'>
                            <span>待付款</span>
                            <span>12</span>
                        </li>
                        <li ng-click='send()'>
                            <span>待发货</span>
                            <span>8</span>
                        </li>
                        <li ng-click='recive()'>
                            <span>待收货</span>
                            <span>5</span>
                        </li>
                        <li ng-click='success()'>
                            <span>交易成功</span>
                            <span>5</span>
                        </li>
                        <li ng-click='close()'>
                            <span>交易关闭</span>
                            <span>5</span>
                        </li>
                        <li ng-click='all()'>
                            <span>全部</span>
                            <span>10</span>
                        </li>
                    </ul>
                </div>
                <!--copy-->
                    <div class="shangpin"  ng-repeat="item in data">
                        <div class="clearfix caigou">
                            <div>
                                <p class="xiadan">下单时间:{{item.msg.date}}</p>
                                <p>采购单号:{{item.msg.code}}</p>
                            </div>
                            <div class="shop_par">
                                <span class="shop"></span>
                                <span>{{item.msg.com}}</span>
                            </div>
                            <div>实付:
                                <span>￥{{item.msg.mon}}</span>
                            </div>
                            <div>{{item.msg.tatusText}}</div>
                        </div>
                        <div class="xiangqing clearfix" ng-repeat="item2 in item.produts">
                            <div class="left">
                                <div class="pic">
                                    <img src="{{item2.img}}" alt="">
                                    <i></i>
                                </div>
                                <div class="sale">{{item2.mii}}</div>
                                <div class="kg">{{item2.heft}}</div>
                                <div class="price">{{item2.tar}}</div>
                            </div>
                            <div class="right">
                                <p class="time">{{item2.cut}}</p>
                                <p class="put">{{item2.fu}}</p>
                                <p class="trade" ng-if="show1">{{item2.cha}}</p>
                                <p class="trade" ng-if="show2">{{item2.xiang}}</p>
                            </div>
                        </div>
                 </div>
                <!--page-->
                <div class="clearfix page">
                    <div class="fl show">采购单共200个,本页显示10个</div>
                    <ul class="fl list1 clearfix">
                        <li class="prev"></li>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li class="next"></li>
                        <li class="last1">共13页</li>
                    </ul>
                    <div  class="fr skip">
                        <span>转到</span>
                        <input type="text">
                        <span class="sure">确定</span>
                    </div>
                </div>
            </div>
        </div>
   </div>
    <!--foot-->
    <footer class="foot clearfix">
        <p>
            <a href="jsvascript:" tatget="_self" >关于包谷</a>|
            <a href="jsvascript:" tatget="_self" >包谷大事</a>|
            <a href="jsvascript:" tatget="_self" >诚聘英才</a>|
            <a href="jsvascript:" tatget="_self" >联系我们</a>|
            <a href="jsvascript:" tatget="_self" >服务条款</a>|
            <a href="jsvascript:" tatget="_self" >法律声明</a>|
            <a href="jsvascript:" tatget="_self" >合作伙伴</a>|
            <a href="jsvascript:" tatget="_self" >友情链接</a>
        </p>
        <p>Copyright ©2013-2014 baoogu.com All Rights Reserved. 客服热线：400-106-8585</p>
        <div class="bop clearfix">
            <p class="fl">京公网安备11010602100108号 京ICP证 130477号 京ICP备08009311号-3</p>
            <a href="javascript:" class="as fl"></a>
        </div>
    </footer>
</body>
</html>
