/*采购单标题*/
.head{
    background: #fff;
    height:37px;
	border-bottom:2px dotted #f3f3f3;
}
.hd-in{
	width:1000px;
	margin:0 auto; 
}
.hd-l{
    line-height: 37px;
}
.hd-l i{
    border-left:1px solid #ccc;
    height:17px;
    margin:0 15px;
}
.hd-l a{
    color:#006697;
}
.hd-r li{
    float:left;
    margin-left:40px;
    line-height:37px;
}
.hd-r li a{
    float:left;
}
.hd-r li b{
    width:11px;
    height:6px;
    background: url("../img/bg2.png");
    float:left;
    margin-top: 17px;
    margin-left: 4px;
}
.hd-r li span{
    float: left;
    background: url("../img/bg1.png");
    width:16px;
    height:16px;
    margin-top: 11px;
    margin-right: 4px;
}
.hd-r .bg1{
    background: url("../img/bg3.png") no-repeat;
}
.hd-r strong{
    color:#cc0000;
    margin-left:5px;
}

/*logo nav*/
.nav{
	width:100%;
	background:#fff;
	min-width:1000px;
    border-bottom:2px solid #2082b3;	
}
.nav_in{
  height:56px; 
  width:1000px; 
  margin:0 auto;
  padding-top:24px;
}
.nav_in h1{
	 background:url(../img/logo.png) no-repeat;
	 width:94px;
	 height:38px;
	 text-indent:-10000px;
}
.nav_in p{
	 font-size:24px;
	 margin-left:10px; 
}
.nav_il{
	width:505px;
	height:29px;
	background:#f0efef;
	border-radius:17px;
	padding:3px 0px;
}
.nav_il a{
	float:left;
	text-align:center;
	line-height:29px;
	font-size:12px;
	width:163px; 
	height:29px; 
	border-radius:14px;
	margin-right:5px;
}
.nav .active{
	background:#2c8dbd;
	color:#fff;
}

/*收货成功*/
.goods_up{
	background:#fff;
	margin-top:52px;
	padding-bottom:48px;
}
.goods_up div{
	float:left;
}
.goods_up .goods_u_left span{
	background:url(../img/bg21.png) no-repeat right center;
	width:329px;
	height:124px;
	display: block;
	margin-top:65px;
}
.goods_up .goods_u_right{
	width:420px;
	margin-left:35px;
	margin-top:80px;
}
.goods_up .goods_u_right p span{
	float:left;
}
.goods_up .goods_u_right p:nth-child(1){
	line-height: 50px;
	font-size:24px;
	color:#343434;
}
.goods_up .goods_u_right p:nth-child(2){
	line-height: 36px;
	font-size:16px;
	color:#343434;
}
.goods_up .goods_u_right p:nth-child(3){
	line-height: 43px;
	font-size: 16px;
	color:#ccc;
}
.goods_up .goods_u_right p:nth-child(3)>b{
	font-weight: normal;
}
.goods_up .goods_u_right .to_see{
	width:139px;
	height:30px;
	line-height:30px;
	background:#006599;
	color:#fff;
	text-align: center;
	border-radius:3px;
	margin-right:22px;
}
.goods_up .goods_u_right .to_back{
	width:125px;
	height:30px;
	line-height:30px;
	border:1px solid #ddd;
	background:#f7f7f7;
	border-radius:3px;
	color:#959595;
	text-align:center;
	margin-right:18px;
}
.goods_up .goods_u_right p a{
	color:#006599;
	line-height: 30px;
}
h2{
	height:66px;
	line-height: 66px;
}
.goods_down{
	background:#fff;
	padding-bottom: 45px;
}
.goods_down div{
	overflow:hidden;

}
.goods_down div span{
	width:190px;
	height:42px;
	line-height: 42px;
	float:left;
}
.goods_down div .first{
	text-align:right;
}
.goods_down div .last{
	margin-left:30px;
}
.goods_down .big_pap_msg .paper_msg{
	float: left;
	font-weight:normal;
	margin-top: 10px;
}
.goods_down div i{
	font-style:normal;
}
.big_pap_msg div{
	float: left;
}
.paper_msg i{
	width:190px;
	text-align: right;
	display: block;
	line-height: 14px;
}
.paper_msg .nomral_paper{
	color:#478e3e;
}
.cto_name{
	padding-left: 30px;
	width:350px;
}
.cto_name p{
	height:30px;
	line-height:30px;	
}
.num p{
	height:30px;
	line-height:30px;
}

/*底部*/
.foot{ 
	padding-top:20px;
	border-top:1px solid #dddbdc;
	background:#fff;
	margin-top:60px;
	padding-bottom: 25px;
}
.foot p{
	text-align:center;
	margin:0 auto;
	line-height:38px;
	color:#666;
}
.foot p a{ 
    padding-right:5px; 
}

.foot .as{
	background:url(../img/bg18.png) no-repeat;
	width:33px; 
	height:39px; 
	display:inline-block;
	margin-left:15px;
}
.bop{
	width:500px;
	margin:0 auto;
	line-height:38px;
	color:#666;
}
.foot .police{
	margin-left:40px;
}

